# Build artifacts
*.exe
*.o
*.obj
*.a
*.dll
*.so
*.out

# Mantém tasks.json e launch.json
.vscode/settings.json
.vscode/extensions.json

# ---- CMake ----
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Temporary files
*.log
*.tmp

# OS files
Thumbs.db
.DS_Store

